@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #000;
  color: #fff;
}

button {
  font: inherit;
  cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* This part is for hiding scrollbar for Chrome / Safari / Edge WebKit-based browers. */

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* scrollbar-width none is mainly for hiding scrollbars in Firefox */
